@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

:root {
  --bg: #f4f0e8;
  --surface: #ebe4d8;
  --text: #211c18;
  --muted: #766b5d;
  --gold: #b08d57;
  --gold-dark: #8f7042;
  --border: rgba(33, 28, 24, 0.14);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
    margin: 0;
  /* padding: 0; */
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

::selection {
  background: var(--gold);
  color: white;
}

/* ================================
   GLOBAL LAYOUT
================================ */

.site-container {
  width: calc(100% - 40px);
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet-active {
    /* opacity: var(--swiper-pagination-bullet-opacity, 1); */
    background: #b08d57 !important;
}

.swiper-pagination {
    bottom: -50px !important;
}

@media (min-width: 768px) {
  .site-container {
    width: calc(100% - 80px);
  }
}

@media (max-width: 640px) {
  .site-container {
    width: calc(100% - 30px);
  }
}